@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#admin {
    background: url("gv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.logo {
    width: 150px;
    height: 150px;
}
.CGMh1 {
    padding: 5rem 0 2rem 0;
    font-family: 'Orbitron', sans-serif;
    color: #353535;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.cgmadmin {
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 3px 3px 3px  wheat;
}

.login {
    font-family: 'Orbitron', sans-serif;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem 2rem 1rem 2rem;
    background: linear-gradient(145deg, #020049, white, #020049 );
    box-shadow:  1px 7px 4px black;
}
.login input {
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
}
#user, #pass {
    position: relative;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px 2rem 5px 5px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#checkerbtn{
    position: relative;
    left: 37%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
#submit {
    position: relative;
    padding: 1rem 7rem 1rem 7rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}
#submit:hover {
    background: linear-gradient(90deg, white, #020049 );
    color: white;
    border-radius: 2rem;
}

@media only screen and (max-height: 900px) {
    #admin {
        height: 115%;
    }
}
@media only screen and (max-width: 400px) {
    #admin {
        overflow: hidden;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .CGMh1 {
        padding: 2rem 0 2rem 0;
        font-size: 30px;
    }
    .cgmadmin {
        letter-spacing: 2px;
    }
    .login {
        margin-left: 10%;
        margin-right: 10%;
    }
    .login input {
        font-size: 12px;
        letter-spacing: 3px;
    }
    #submit {
        position: relative;
        padding: 1rem 5rem 1rem 5rem;
        border-radius: 5px;
        font-size: 12px;
    }
    #checkerbtn{
    left: 20%;
    }

}