@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#admin {
    background: url("gv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.logo {
    width: 150px;
    height: 150px;
}
.CGMh1 {
    padding: 2rem 0 1rem 0;
    font-family: 'Orbitron', sans-serif;
    color: #353535;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.cgmadmin {
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 3px 3px 3px  wheat;
}
.addash {
    font-family: 'Orbitron', sans-serif;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem 2rem 1rem 2rem;
    background: linear-gradient(145deg, #020049, white, #020049 );
    box-shadow:  1px 7px 4px black;
}
p a {
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    color: black;
}
.btn:not(:last-child) {
    margin-bottom: 1rem;
}
.btn {
    text-align: center;
    border: 1px solid black;
    padding: 10px 0 10px 0;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    background-color: white;
}
.btn:hover {
    background-color: transparent;
}
.logout{
    position: relative;
    padding: 5px 2rem 5px 2rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    left: 1rem;
    top: 3rem;
    border-radius: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
}
.logout:hover {
    background-color: transparent;
    color: white;
}
.list {
    position: relative;
    top: 6rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
hr {
    position: relative;
    top: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*ATTENDANCE LIST TABLE*/
#Attendancelist {
    background: url("white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.tablecont {
    position: relative;
    top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Orbitron', sans-serif;
    border-collapse: collapse;
    width: 80%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.7);
}
.DE {
    font-size: 10px;
}
td {
    text-align: left;
    padding: 12px 15px;
    background: #dfdfdf;
}
th {
    letter-spacing: 2px;
    text-align: left;
    padding: 12px 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
    background: #020049;
    color: white;
}
tbody tr {
    border-bottom: 1px solid #020049;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #020049;
}

@media only screen and (max-height: 900px) {
    #admin {
        height: 135%;
    }
}